.menu{
    position: fixed;
    height:50px;
    width: 100vw;
   
}  
.theme1{
    position: absolute;
    top: 10px;
    left: 15px;
    max-width: 10px;
    max-height: 10px;
}
.about1{
    position: absolute;
    top:0px;
    right: 90px;
    
}
.skill1{
    position: absolute;
    top: 5px;
    right: 30px;
   
}
.down{
    position: absolute;
    bottom:  5px;
}
.down1{
    position:relative;
    bottom: -100px;
}

